body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}
.subtitle {
  display: block;
  clear: both;
  padding: 1em;

}
.subtitle img {
  float: left;
}
.subtitle .time {
  float: right;
  color: #999999;
}

.subtitle .caption {
  padding: 1em;
}

.subtitle .thumbnail {

  max-width: 40%;
}
